@font-face {
  font-family: 'Visby Round CF';
  src: url('VisbyRoundCF-Medium.otf') format('opentype'),
       url('VisbyRoundCF-Medium.eot') format('embedded-opentype'),
       url('VisbyRoundCF-Medium.woff2') format('woff2'),
       url('VisbyRoundCF-Medium.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Visby Round CF';
  src: url('VisbyRoundCF-Bold.otf') format('opentype'),
       url('VisbyRoundCF-Bold.eot') format('embedded-opentype'),
       url('VisbyRoundCF.woff2') format('woff2'),
       url('VisbyRoundCF.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}
