:root {
    --top-bar-height: 100px;
    --side-bar-width: 300px;
    --background: #222;
    --margin: 10px;
    --padding: 12px;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
}

#top-bar {
    height: var(--top-bar-height);
    width: 100vw;
    background-color: yellow;
}

#side-bar {
    height: calc(100vh - var(--top-bar-height));
    width: var(--side-bar-width);
    background-color: blue;
}

#main {
    height: calc(100vh - var(--top-bar-height));
    width: calc(100vw - var(--side-bar-width));
    background-color: red;
}
